# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin Gradle plugin compiler state (sessions, etc.)
.kotlin

# ignore intellij
.idea

# ignore vscode
.vscode

# nodes library dependencies
lib/*.jar